<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <div id="header">
                <div class="row-1">
                    <div class="fleft"><a href="#">KINO <span>BOX</span></a></div>
                    <ul>
                        <li><a href="#"><img th:src="@{/images/icon1-act.gif}" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/images/icon2.gif}" alt="" /></a></li>
                        <li><a href="#"><img th:src="@{/images/icon3.gif}" alt="" /></a></li>
                    </ul>
                </div>
                <div class="row-2">
                    <ul>
                        <li><a th:href="@{/index.html}" class="active">Home</a></li>
                        <li><a th:href="@{/about-us.html}">About</a></li>
                        <li><a th:href="@{/articles.html}">Articles</a></li>
                        <li><a th:href="@{/contact-us.html}">Contacts</a></li>
                        <li class="last"><a th:href="@{/sitemap.html}">Sitemap</a></li>
                    </ul>
                </div>
            </div>

            <div id="footer">
                <div class="left">
                    <div class="right">
                        <div class="footerlink">
                            <p class="lf">Copyright &copy; 2024 <a href="#">kinobox.com</a> - All Rights Reserved</p>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</body>
</html>